<%= form_with(model: [item, booking], local: true) do |form| %>
  <div>
    <%= form.label :start_date, 'Date de début' %>
    <%= form.date_field :start_date, required: true %>
  </div>

  <div>
    <%= form.label :end_date, 'Date de fin' %>
    <%= form.date_field :end_date, required: true %>
  </div>

  <div>
    <%= form.submit 'Enregistrer' %>
  </div>
<% end %>
